description = "About Section"

[viewBag]
==
<section class="split section" style="background-color: {{ data.section_about_bg }};">
   <div class="container">
      <div class="row">
         <div class="col-md-4 col-sm-6 col-xs-12" data-aos="fade-left" data-aos-delay="300">
            <div class="images">
               {% if data.section_about_image %}
               <img src="{{ data.section_about_image|media }}" alt="{{ data.section_about_title1 }}">
               {% else %}
               <img src="{{ 'assets/images/img/430x300.png'|theme }}" alt="">
               {% endif %}
            </div>
         </div>
         <div class="col-md-8 col-sm-6 col-xs-12" data-aos="fade-right" data-aos-delay="300">
            <div class="content-inner">
               <h2 class="title">{{ data.section_about_title1 }}</h2>
               <p class="lead">{{ data.section_about_desc1 }}</p>
               <div class="details-list">
                  <div class="row">
                     <div class="col-sm-6 col-xs-12">
                        <h3>{{ data.section_about_title2 }}</h3>
                        <p>{{ data.section_about_desc2 }}</p>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <h3>{{ data.section_about_title2 }}</h3>
                        <p>{{ data.section_about_desc2 }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>